.icon-button {
  position: relative;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  overflow: hidden;
  padding: 0;
  font-size: 24px;
  color: inherit;
  text-align: center;
  text-decoration: none;
  letter-spacing: 0;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border: none;
  border-radius: 50%;
  outline: none;
  background-color: transparent;
  will-change: box-shadow, background;
  transition: background .4s cubic-bezier(.25, .8, .25, 1), color .4s cubic-bezier(.25, .8, .25, 1), box-shadow 280ms cubic-bezier(.4, 0, .2, 1);
  fill: currentColor;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  &.button {
    border-radius: 4px;
    width: auto;
    height: 36px;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 14px;
  }

  // Child
  &__icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin: 0;
    font-size: 24px;
    color: inherit;
    vertical-align: top;
    pointer-events: none;
    user-select: none;
  }

  &--dense {
    width: 40px;
    height: 40px;
  }

  &[disabled] {
    color: rgba(0,0,0,.34);
    pointer-events: none;
    cursor: default;
  }
}

.button {
  &__label {
    margin-left: 4px;
  }
}