.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 24px;
  padding-right: 24px;
  width: 100%;
}
.d-flex {
  display: flex;
}
.align-item-center {
  align-items: center;
}
.justify-content-center {
  justify-content: center;
}
.flex-grow {
  flex-grow: 1;
}
