// ==========  Root  ========== //

:root {
  --color-primary: rgba(255, 83, 0);
  --color-secondary: rgba(0, 79, 63);
  --color-accent: rgba(0, 126, 255);
  --drawer-max-width: 320px;
  --drawer-background-color: #fff;
  --drawer-surface-width: 280px;
  --drawer-surface-translate: -280px;
  --list-background-hover: rgba(0,0,0,.32)
}